header {
  background: #111;
  width: 100%;
  height: 100px;
}

.wrapper {
  padding: 2rem 0;
}

header .top_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .top_bar li a {
 padding: .35rem 1rem;
}